body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Georgia, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
